beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
pytesseract @ git+https://github.com/madmaze/pytesseract.git@99b07206414e5133c68a6b233acc2c2dd3538435
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tzdata==2024.1
urllib3==2.2.1
